<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MyITPHub</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <style>
      :root {
        --bs-link-color: lightblue;
        --bs-link-hover-color: cyan;
        --bs-emphasis-color: white;
      }
    </style>
  </head>

  <body>
    <header class="p-2 bg-dark text-white">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="ms-3 nav nav-underline col-auto">
          <li class="nav-item mx-1">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item mx-1">
            <a class="nav-link" href="#">Features</a>
          </li>

          <li class="nav-item mx-1">
            <a class="nav-link" href="#">Pricing</a>
          </li>

          <li class="nav-item mx-1">
            <a class="nav-link" href="#">FAQs</a>
          </li>

          <li class="nav-item mx-1">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>

        <div class="col text-center">
          <img class="align-top me-1" src="/static/favicon.png" width="48" height="48" alt="Favorite icon" />
          <span class="fs-3">MyITPHub</span>
        </div>

        <div class="me-3 col-auto">
          <i class="bi bi-person-circle" style="font-size: 36px"></i>
        </div>

        <div class="me-5 col-auto">
          WELCOME<br />
          YONG CHI MIN
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-outline-light me-2">Logout</button>
        </div>
      </div>
    </header>

    <div class="p-3">{% block content %}{% endblock %}</div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
