.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $primary;
  }

  &:active {
    color: $secondary;
  }
}

.error {
  border: 2px solid $negative;
}

.bg-wallpaper {
  background-image: url('/background.jpg');
  background-attachment: fixed;
}
